* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: whitesmoke;
  background: rgb(20, 20, 20);
  /* font-family: 'Bahnschrift Condensed', Calibri, 'Calibri Light', 'Corbel', 'Arial Narrow', 'SIEMENS_GOST Type A', 'Agency FB'; 'Blackadder ITC' */
  font-family: Calibri, 'Calibri Light', Corbel, 'Bahnschrift Condensed', 'Agency FB', 'Arial Narrow';
  font-size: 14px;
}

*::-webkit-scrollbar {
  width: 14px;
}
*::-webkit-scrollbar-track {
  background: #303030;
  border: 1px solid #404040;
}
*::-webkit-scrollbar-thumb {
  background-color: #424242;
  border: 1px solid #505050;
}
* {
  box-sizing: border-box;
}
